* {box-sizing: border-box;}

    body { 
      margin:0px;
      font-family: Arial, Helvetica, sans-serif;
    }

    .header {
      position:sticky;
      top:0px;
      overflow: hidden;
      background-color: #187757;
      height:150px;
    }

    .header a {
    float: left;
    color: black;

    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    }

    .header a:hover {
    background-color: #1aad7c;
    color:#4f4f4f;
    }

    .header a.active {
    background-color: #0D5B41;
    color: white;
    }

    .header-right {
        float: right;
        margin:0px;
    }
    
    .header-left {
        float: left;
        margin:0px;
    }

    .header-right a{
        background-color:#1f8563;
        margin: 0px;
        margin-left: 3px;
        margin-right: 3px;
        display:inline;
    }

    .header-nametag {
        float: right;
    }
    
    .header-nametag p{

        margin: 0px;
        margin-left: 3px;
        margin-right: 3px;
        position: relative;
        top: -50%;
        
        text-decoration: none;
        text-align: bold;

        font-weight: 2;
        padding: 12px;

        font-size: 14px; 
        line-height: 25px;
        border-radius: 4px;

        background-color: rgb(238, 238, 238);
        color: black;
    }
    .header-nametag p:hover{
    color: #3d3d3d;
    }

    #MHC-Mar{
        position: relative;
        margin-bottom:40px;
        margin-left:0;
        margin-right:20px;
        display: block;
    }

    #US-ExM{
        height:100%;
        margin-left:18px;
    }
    #Lower-Right-Block{
        display:block;
        margin-top:50.5px;
    }
    #Help-From{
        position: absolute;
        top: 20px;
        right : 3px;
        display:block;
        float :right;
    }
    #Help-btn{
        background-color: #1f8563;
        border: 0;
        border-radius: 4px;
        
        padding: 4px 32.7px;

        font-weight: bold;
        font-size: 100%;
    }
    #Help-btn:hover{
        background-color: #1aad7c;
        color:#4f4f4f;
    }

    @media screen and (max-width: 800px) {
        .header {
          height:unset;
          position:static;
          top: unset;
          display: block;
        }
        .header a {
            float: none;
            display: block;
            text-align: left;
        }
        .header-right a{
            margin: 0px;
        }
        .header-right {
            float: none;
        }
        .header-left {
            float: none;
        }
        .header-left img{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .header-right a{
            margin: 0px;
            margin-top: 6px;
            margin-bottom: 6px;
        }

        .header-nametag {
            margin:auto;
            float: none;
        }
        .header-nametag p{
            float: none;
            margin: 0px;
            margin-top: 6px;
            margin-bottom: 6px;
        }
        #US-ExM {
            margin: 0em;
            margin-bottom: 30px;
        }
        #MHC-Mar{
            margin-top:40px;
            margin-bottom:40px;
            margin-left:20px;
            margin-right:20px;
        }
        #Lower-Right-Block{
            margin-top: unset;
        }
        #Logo-Container{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #Help-From{
          position: static;
          top: unset;
          right : unset;
          display:block;
          float :none;
        }

        #Help-btn{
          width:100%;
          text-align:left;
          font-weight:normal;
          padding-left:12px !important;
        }
    }